@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@300;400&display=swap");
.App {
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
body {
  background-color: #1e293b;
}
.link {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  background-color: #0ea5e9;
  color: white;
  border-radius: 0.5rem;
  font-size: small;
  float: right;
}
